<%- include ('../partials/head') %> 
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
  <div class="container">
    <!-- Display User Data -->
    <h1 stylt="padding-top: 5%;"><center>Welcome <%- name %></center></h1> <br>
    <h2><center> Your current address is <%- address%></center></h2>
  </div>
  <div class = "container">
    <div class = "container row">
      <div class="container col-sm">
        <img src= "https://images.unsplash.com/photo-1491485880348-85d48a9e5312?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" id="self-image2">
      </div>
      <div class="col-md-6">
        <form action="/account" method="POST">

          <div class="form-group">
            <label for="new_name">Update Name</label>
            <input class="form-control" type="text" name="new_name" id="new_name"> <br>
          </div>
          <div class="form-group">
            <label for = "new_password">Update Password</label>
            <input class="form-control" type="password" name = "new_password" id="new_password"> <br>
          </div >
          <div class="form-group">
            <label for= "new_photoURL">Update Photo</label>
            <input class="form-control" type="text" name="new_photoURL" id="new_photoURL"> <br>
          </div>
          <div class="form-group">
            <label for="new_address">Update Address</label>
            <input class="form-control" type="text" name="new_address" id="new_address"> <br>
          </div>
          <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Update Information">
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>