<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <div class="d-flex justify-content-center" style="margin-top: 2%;margin-bottom: 5%;"id="hobbies">
            <div class="col-2" style="padding-top: 5%;">
                <div class="row">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Type of Pet 
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/explore_anywhere?species=dog">Dog</a></li>
                        <li><a class="dropdown-item" href="/explore_anywhere?species=cat">Cat</a></li>
                        <li><a class="dropdown-item" href="/explore_anywhere">Any</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="padding-top: 10%;">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Breed
                        </button>
                        <ul class="dropdown-menu" style = "max-height: 200px;overflow-y: scroll;">
                        <% breeds.forEach(breed =>{%>
                        <li><a class="dropdown-item" href="/explore_anywhere?species=dog&breed=<%=breed%>"><%=breed%></a></li>
                        <%});%>
                        </ul>
                    </div>
                </div>
                <div class="row" style="padding-top: 10%;">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Age
                        </button>
                        <ul class="dropdown-menu" style = "max-height: 200px;overflow-y: scroll;">
                        <li><a class="dropdown-item" href="/explore_anywhere?species=dog&age=baby">Puppy</a></li>
                        <li><a class="dropdown-item" href="/explore_anywhere?species=dog&age=young">Young</a></li>
                        <li><a class="dropdown-item" href="/explore_anywhere?species=dog&age=adult">Adult</a></li>
                        <li><a class="dropdown-item" href="/explore_anywhere?species=dog&age=senior">Senior</a></li>
                        </ul>
                    </div>
                </div>
                <%  filtersDogs = [["Age",["Puppy","Young","Adult","Senior"]],["Size",["Small","Medium","Large","Extra Large"]],["Gender",["Male","Female"]],["Good With",["Kids", "Other Dogs", "Cats"]],["Coat Length",["Hairless","Short","Medium","Long"]],["Color",["Beige","Black"]], ["Care & Behavior",["House-trained","Special needs"]],["Days since posted",[1,2,3,4]]];
                    filtersCats = [["Age",["Kitten","Young","Adult","Senior"]],["Size",["Small","Medium","Large","Extra Large"]],["Gender",["Male","Female"]],["Good With",["Kids", "Dogs", "Other Cats"]],["Coat Length",["Hairless","Short","Medium","Long"]],["Color",["Beige","Black"]], ["Care & Behavior",["House-trained","Declawed","Special needs"]],["Days since posted",[1,2,3,4]]];
                filters.forEach(filter =>{%>
                    <div class="row" style="padding-top: 10%;">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <%=filter[0]%>
                            </button>
                            <ul class="dropdown-menu" style = "max-height: 200px;overflow-y: scroll;">
                                <% filter[1].forEach(parameter =>{%>
                            <li><a class="dropdown-item" href="/explore_anywhere?species=dog&age=<%=parameter%>"><%=parameter%></a></li>
                                <%});%>
                            </ul>
                        </div>
                    </div>
                <%});%>
                <div class="row" style="padding-top: 15%;padding-right: 10%;">
                    <button type="button" class="btn btn-primary" style="--bs-btn-font-size: 1.25rem;">Apply Filters</button>
                </div>
            </div>
            <div class="col-10">
                <div class="row">
                    <%results.data.animals.forEach(pet =>{
                        if(pet.primary_photo_cropped != null){%>
                    <div class="col" style="padding-top: 5%;">
                        <div class="card" style="width: 18rem; text-align: center;" id="hobby-card-3">
                            <img src="<%=pet.primary_photo_cropped.small%>" class="card-img-top" alt="..." width="275" height="183">
                            <div class="card-img-overlay" style = "text-align: right; height: 11.5rem;">
                                <a type="button" href="<%=pet.url%>" class="btn btn-light rounded-circle bg-opacity-10" style="color: pink; background-color: grey;" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><%=pet.name.split(" ")[0]%></h5>
                                <p><%=pet.age%> | <%=pet.breeds.primary%></p>
                                <p><%=pet.distance%> Miles Away</p>
                                <a type="button" href="<%=pet.url%>" class="btn btn-primary" target="_blank">More Info</a> 
                            </div>
                        </div>
                    </div>
                    <% }
                });%>
                </div>
            </div>
      </div>
  </div>
</main>

<%- include ('../partials/footer') %>