<%- include ('../partials/head') %>
  <%- include ('../partials/menu') %>
  <%- include ('../partials/message') %>
    <main>
      <div class="col"></div>
      <div class="container">
        <h1>
          <center>Explore Pets in Boulder!</center>
        </h1>
        <div class="col-12">
          <div class="row">
            <%PetInfo.forEach(pet=>{%>
              <div class="col" style="padding-top: 5%;">
                  <div class="card" style="width: 18rem; text-align: center;">
                      <img src="<% pet.petPhoto %>", class="card-img-top" alt="Image not available" width="275" height="183">
                      <div class="card-img-overlay" style = "text-align: right;">
                        <form action = '/add_favorite_boulder' method = 'post', >
                          <input type="hidden" name="data-pet-id" value="<%= pet.petid %>">
                            <a type="button" class="btn btn-light rounded-circle bg-opacity-10 favorite-button" style="color: white; background-color: grey;" 
                              onclick="addToFavorites('<%= pet.petid %>', '<%= username %>')">
                              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                              </svg>
                            </a>
                      </form>
                    </div>
                      <div class="card-body">
                        <a href="#" class="card-title"></h5><%- pet.name %></a>
                        <a> | <%- pet.age %> years</a>
                      </div>
                      <div>
                        <a type="btn btn-primary" href="/petpage_boulder?pet_id=<%=pet.id%>" class="btn btn-primary" ID="MoreInfo">More Info</a>
                      </div>
                  </div>
              </div>
              <%
          });%>
          </div>
      </div>
    </main>
    <script>
      async function addToFavorites(petID, username) {
        console.log('Pet ID:', petID);
        try {
          const response = await fetch('/add_favorite_boulder', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ username, petID }),
          });

          const data = await response.json();
          
          console.log('Response:', data);
        } catch (error) {
          console.error('Error:', error);
        }
      }
    </script>
<%- include ('../partials/footer') %>