<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
  <div class="container">
    <h1><center>Favorites</center></h1>
  <div class="col-12">
    <div class="row">
      <%FavPetInfo.forEach(function(pet){%>
        <div class="col" style="padding-top: 5%;">
            <div class="card" style="width: 18rem; text-align: center;" id="PetCards">
                <img src="<%= pet.petphoto %>" class="card-img-top" alt="Image not available" width="275" height="183">
                <div class="card-img-overlay" style = "text-align: right;height: 11.5rem;">
                  <a type="button" class="btn btn-light rounded-circle bg-opacity-10 favorite-button" style="color: pink; background-color: grey;" 
                    data-pet-id="<%- pet.petid %>" data-favorite="<%- pet.isFavorite %>" 
                    data-action="removeFromFavorites" onclick="removeFromFavorites('<%- pet.petid %>', '<%= username %>', '<%= pet.name %>')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                  </a>
              </div>
                <div class="card-body">
                  <h5 style="text-transform: capitalize;text-shadow:1px 1px 1px grey;" class="card-title"> <%- pet.name %> | <%- pet.age %> years</h5>
                </div>
              <div style="padding-bottom: 10px; padding-top: 10px">
                <a type="btn btn-primary" href="/petpage_boulder?pet_id=<%=pet.petid%>" class="btn btn-primary" ID="MoreInfo">More Info</a>
              </div>
            </div>
        </div>
        <%
    });%>
    </div>
</div>
</main>
<script>
  async function removeFromFavorites(petID, username, name) {
    console.log('Pet ID:', petID);

    try {
      const response = await fetch('/remove_favorite', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ username, petID, name}),
      });

      const data = await response.json();

      // Handle the response, update UI, etc.
      console.log('Response:', data);

      // Check if the pet was successfully removed
      if (data.success) {
        // Refresh the page after removing the pet from favorites
        window.location.reload();
      }
    } catch (error) {
      console.error('Error:', error);
    }
  }
</script>
<%- include ('../partials/footer') %>