<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="col"><%- include ('../partials/message') %></div>
  <div class="container">
    <h1>Home Page</h1>
  </div>
</main>

<%- include ('../partials/footer') %>
<!-- <div class="row">
    <% for (let i = 0; i < results.length; i++) { %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="<%= results[i].images[0].url%>" class="card-img-top" alt="Event Image">
          <div class="card-body">
            <h5 class="card-title"><%= results[i].name %></h5>
            <p class="card-text">
              Date: <%= results[i].dates.start.localDate %><br>
              Time: <%= results[i].dates.start.localTime %>
            </p>
            <a href="<%= results[i].url %>" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    <% } %>
  </div> -->