<%- include ('../partials/head') %>
<%- include ('../partials/login_register_menu') %>

<div>
    <div  class="float-container">

        <% pet = results.data.animal%>

        <div  class="float-child-1">
            <img src= <%=pet.primary_photo_cropped.medium%>
        </div>

        <div id="self-desc" class="float-child-2">
            <h2>About <%= pet.name%></h2>

            <%if(pet.breeds.primary){%>
            <h5> Breed : <%= pet.breeds.primary%>
            </h5>
            <% } %>
            <%if(pet.colors.primary){%>
                <h5> Color: <%= pet.colors.primary%>
                </h5>
            <% } %>
            <%if(pet.age){%>
                <h5> Age : <%= pet.age%>
                </h5>
            <% } %>
            <%if(pet.gender){%>
                <h5> Gender : <%= pet.gender%>
                </h5>
            <% } %>
            <%if(pet.size){%>
                <h5> Size : <%= pet.size%>
                </h5>
            <% } %>
            <%if(pet.coat){%>
                <h5> Coat : <%= pet.coat%>
                </h5>
            <% } %>
            <%if(pet.description){%>
                <h5> Description : <%= pet.description%>
                </h5>
            <% } %>
            <%if(pet.status){%>
                <h5> Status : <%= pet.status%>
                </h5>
            <% } %>
            <%if(pet.contact.phone){%>
                <h5> Contact : <%= pet.contact.phone%>
                </h5>
            <% } %>
            <%if(pet.url){%>
                <a href=<%= pet.url%> target="_blank">
                    <button type="button" class="btn btn-info">Adopt!</button>
                </a>
            <% } %>

        </div>

    </div>
</div>

<%- include ('../partials/footer') %>
